body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

header {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
}

.accent {
  color: #2e2f42;
}

.down .accent {
  color: #f4f4fd;
}

.menu {
  font-weight: 500;
  color: #2e2f42;
}

.contact-link {
  color: #434455;
  font-style: normal;
}

.menu:hover,
.menu:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

.hero-image {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
}

.hero-image-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-image-btn {
  background-color: #4d5ae5;
  color: currentColor;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 1.5;
  border: none;
  cursor: pointer;
}

.hero-image-btn:hover,
.hero-image-btn:focus {
  background-color: #404bbf;
}

.content {
  background-color: #ffffff;
}

.title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.feature-title,
.teams-cards-title,
.projact-cards-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.cards {
  background-color: #f4f4fd;
}

.down {
  background-color: #2e2f42;
  color: #f4f4fd;
}
